body{
    margin:0;
    font-family:Arial;
    background:#121212;
    color:white;
}

.app{
    max-width:500px;
    margin:auto;
    padding:20px;
    padding-bottom:90px;
}

h1{
    text-align:center;
}

.panel{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:20px;
}

input{
    padding:12px;
    font-size:16px;
    border-radius:8px;
    border:none;
}

button{
    padding:12px;
    font-size:16px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    margin-top:5px;
}

/* CARTAS */
.card{
    background:#1f1f1f;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    position:relative;
}

.card input{
    width:90px;
    margin-top:10px;
}

.delete{
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
    background:#e53935;
    color:white;
}

.total{
    font-size:22px;
    font-weight:bold;
    margin-top:10px;
}

/* BARRA FIJA */
#combatBtns{
    position:fixed;
    bottom:0;
    left:0;
    right:0;

    background:#121212;
    padding:10px;

    display:flex;
    flex-direction:row;
    gap:8px;

    border-top:2px solid #333;
}

#combatBtns button{
    flex:1;
    font-size:14px;
    padding:10px;
    margin:0;
}

/* BOTONES */
.combat.ordenar{
    background:#f9a825;
}

.combat.iniciar{
    background:#1e88e5;
    color:white;
}

.combat.iniciar.activo{
    background:#e53935 !important;
}

.combat.siguiente{
    background:#6a1b9a;
}

/* TURNO ACTIVO */
.activoTurno{
    color:#e53935;
    font-weight:bold;
}
